In [2]:
try:
    import pandas
    print(f"pandas version: {pandas.__version__}")
except ImportError:
    print("pandas is not installed.")

try:
    import numpy
    print(f"numpy version: {numpy.__version__}")
except ImportError:
    print("numpy is not installed.")

try:
    import matplotlib
    print(f"matplotlib version: {matplotlib.__version__}")
except ImportError:
    print("matplotlib is not installed.")

try:
    import seaborn
    print(f"seaborn version: {seaborn.__version__}")
except ImportError:
    print("seaborn is not installed.")

try:
    import sklearn
    print(f"scikit-learn version: {sklearn.__version__}")
except ImportError:
    print("scikit-learn is not installed.")


try:
    import streamlit
    print(f"streamlit version: {streamlit.__version__}")
except ImportError:
    print("streamlit is not installed.")

pandas version: 2.3.1
numpy version: 2.3.1
matplotlib version: 3.10.3
seaborn version: 0.13.2
scikit-learn version: 1.7.1
streamlit version: 1.47.1

In [3]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('./spam.csv', encoding='latin1')

In [9]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [10]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1680,ham,Okay... We wait ah,NaN,NaN,NaN
2284,ham,"Velly good, yes please!",NaN,NaN,NaN
4001,ham,Did you get any gift? This year i didnt get an...,NaN,NaN,NaN
3727,ham,The search 4 happiness is 1 of d main sources ...,NaN,NaN,NaN
4991,ham,I'm hungry buy smth home...,NaN,NaN,NaN

In [11]:
dff = pd.read_csv('./spam.csv',encoding='ISO-8859-1')

In [13]:
dff.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
225,ham,Would really appreciate if you call me. Just n...,NaN,NaN,NaN
2741,spam,I don't know u and u don't know me. Send CHAT ...,NaN,NaN,NaN
432,spam,Congrats! Nokia 3650 video camera phone is you...,NaN,NaN,NaN
880,spam,Reminder: You have not downloaded the content ...,NaN,NaN,NaN
2482,ham,Pansy! You've been living in a jungle for two ...,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [15]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB